{% extends 'shop/basic.html' %}

{% block css %}
   .container{
    text-align:center;
    width: 1000px;
   }4
   .container1{
     position: relative;
     }
   .overlay{
      opacity: 0;
        transition: .5s ease;
        background-color:#ffffff;
    }
    .container1:hover .overlay{
        opacity: 1;

         }

{% endblock %}

{% block body%}
 {% load static %}

<!--<h1 ALIGN="center" style="background-color: #7FFFD4">WELCOME TO AGRIWARE </h1> -->

<img src='/media/images/Agri_background.jpg' height="750px" width="1260px" ><br><br><br><br>
    <h3 align="center"> Shubham Darkar</h3>
     <h4 align="center">shubham.darkar98@gmail.com</h4>
    <h4 align="center">7879767403</h4>
<div class="container">
<a href="https://www.instagram.com/"> <img src='/media/images/insta_logo.jpg' height="40px" width="40px"></a>
<a href="https://www.facebook.com/" > <img src='/media/images/fb_logo.png' height="50px" width="60px"></a>
<a class="container1" > <img src='media/images/whatsapp_logo.jpg' height="40px" width="40px">
    <div class="overlay">
        <div class="text">7879767403</div>
    </div>
</a>
</div>


{% endblock%}
